# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/*/settings.php
sites/*/civicrm.settings.php
sites/*/files

sites/default/civiext/cache

.DS_Store
*~
\#*\#
*.swp
*.mysql
!sites/all/modules/civicrm/*/*.mysql
!sites/all/modules/civicrm/*/*/*.mysql
!sites/all/modules/civicrm/*/*/*/*.mysql
!sites/all/modules/civicrm/*/*/*/*/*.mysql

tags

*.tar
*.gz
*.zip

google*.html
